.appbar{
    position: sticky;
    border-bottom: 2px solid grey;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left: 1em;
    margin-bottom: 1em;
    background-color: #F3E8EE;
    top: 0;
    width: auto;
}

body{
    background-color: #BACDB0;
    position: relative;
    min-height: 100vh;
    margin: 0;
}

.titulo{
    justify-content: space-around;
    padding-right: 1em;
}

.tituloh1{
    display: inline;
    font-family: "Old Standard TT", serif;
}

.nav-top-list{
    display: flex;
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center ;
    padding: 0px;
}

.item{
    color: inherit;
    text-align: inherit;
    border: inherit;
    background-color: inherit;
    font-family: inherit;
    font-size: inherit;
    padding: 13px;
    margin-left: 5px;
    margin-right: 5px;
}

.item:hover{
    background-color: #475B63;
    color: whitesmoke;
    border-radius: 8px;
    cursor: pointer;
}

#item-active{
    background-color: #475B63;
    color: whitesmoke;
    border-radius: 8px;
    cursor: default;
}

.navlink{
    text-decoration: none;
    color: black;
}

.footer{
    position: absolute;
    bottom: 0;
    width: auto;
    height: auto;
    background-color: #F3E8EE;
    border-top: 1px solid gray;
    padding: 8px;
}

@media (max-width: 780px){
    .appbar{
        flex-direction: column;
        padding-top: 15px;
    }
    body{
        background-color: #F3E8EE;
        background-image: url("../assets/nature.jpg");
    }
    .fae-image{
        width: auto;
        height: auto;
    }
    .fae{
        flex-direction: column;
        width: auto;
        height: auto;
    }
    .content{
        width: auto;
        height: auto;
    }
    .item{
        background-color: #475B63;
        color: whitesmoke;
        border-radius: 8px;
        cursor: pointer;
    }
    #item-active{
        background-color: inherit;
        color: black;
    }
}

@media (min-width: 780px) {
    .fae{
        min-width: 752px;
    }
}